<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <img class="brand-logo" style="margin-left: 70px;" src="assets/logo.png" alt="EZgarage Logo" height="60">

</nav>

<!-- Sidebar navigation -->
<div class="container-fluid" *ngIf="authService.userData">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active " (click)="setIsActive('profile')">
              <i class="fas fa-user"></i>{{!authService?.userData?.adminRole ? 'User Profile' : 'Admin Profile'}}
            </a>
          </li>

          <li class="nav-item" *ngIf="!authService?.userData?.adminRole">
            <a class="nav-link" (click)="setIsActive('reservation')">
              <i class="fas fa-bookmark"></i>My Reservations
            </a>
          </li>

          <li class="nav-item" *ngIf="authService?.userData?.adminRole">
            <a class="nav-link" (click)="setIsActive('allreservation')">
              <i class="fas fa-bookmark"></i>All Reservations
            </a>
          </li>

          <li class="nav-item"  *ngIf="!authService?.userData?.adminRole">
            <a class="nav-link" (click)="setIsActive('addreservation')">
              <i class="fas fa-shopping-cart"></i>Add a Reservation
            </a>
          </li>

          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust" *ngIf="isActive['profile']">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">{{!authService?.userData?.adminRole ? 'User Profile' : 'Admin Profile'}}</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inner-adjust" *ngIf="isActive['reservation']">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">My Reservations</h1>
        </div>
        <div class="row" *ngIf="reservations.length > 0">
          <div class="col-md-12">
            <div class="media">
               <table class="responstable">
                <thead>
                  <tr>
                    <th style="width: 200px;" >Vehicle Number</th>
                    <th>Model</th>
                    <th style="width: 200px;">Date</th>
                    <th style="width: 250px;">Slot</th>
                    <th>Status</th>
                    <th style="width: 300px; text-align: center;">Payment</th>
                    <th>Payment Status</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let item of reservations">
                    <td>{{item.regNo}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.timeSlot}}</td>
                    <td>{{item.status}}</td>
                    <td style="text-align: center;
                    vertical-align: middle;">
                      {{item.payment ? item.payment : 'Pending'}} 
                      <div class="demo" style="margin-right: 70px;" *ngIf="item.payment">
                        <google-pay-button environment="TEST" [buttonColor]="buttonColor" [buttonType]="buttonType"
                          [buttonSizeMode]="isCustomSize ? 'fill' : 'static'" [paymentRequest]="paymentRequest" [style.width.px]="buttonWidth"
                          [style.height.px]="buttonHeight" (loadpaymentdata)="onLoadPaymentData($event)"></google-pay-button>
                      </div>
                    </td>
                    <td>{{item.paymentStatus ? 'Done' : 'Pending'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="inner-adjust" *ngIf="isActive['allreservation']">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">All Reservations</h1>
        </div>
        <div class="row" *ngIf="reservations.length > 0">
          <div class="col-md-12">
            <div class="media">
               <table class="responstable">
                <thead>
                  <tr>
                    <th style="width: 150px;">Vehicle Number</th>
                    <th>Model</th>
                    <th style="width: 200px;">Date</th>
                    <th style="width: 250px;">Slot</th>
                    <th style="width: 200px;">Status</th>
                    <th style="width: 200px;">Payment</th>
                    <th style="width: 150px;">Payment Status</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let item of reservations">
                    <td>{{item.regNo}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.timeSlot}}</td>
                    <td>
                      <select [(ngModel)]="item.status" (change)="changeStatus(item)">
                        <option value="Pending">Pending</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Inprogress">Inprogress</option>
                        <option value="Completed">Completed</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" style="width: 150px;" (change)="changeStatus(item)" [(ngModel)]="item.payment"/>
                    </td>
                    <td>{{item.paymentStatus ? 'Done' : 'Pending'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="inner-adjust" *ngIf="isActive['addreservation']">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Add Reservation</h1>
        </div>
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <app-reservation [userId]="user.uid"></app-reservation>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>