
<style>
  *{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
  background-color: black;
  max-width: inherit;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

nav{float:right;}

.logo img{
  float:left;
  margin-top: 10px;
}

ul li{
  display: inline-block; padding:10px;
  font-size:30px; font-family:raleway;
  color: aliceblue;
}

ul li:hover{
  color:orange;
  font-size: 32px;
  
}

div.background {
  background: url('assets/home.png');
  background-repeat:no-repeat;
  background-size:cover;
  border: 2px solid black;
  opacity: 0.9;
}

div.transbox {
  margin-bottom: 500px;
  opacity: 1;
  text-align: center;
}

div.transbox h1,h5,h4 {
  margin: 1%;
  font-weight: bold;
  color: #ffffff;
}
</style>
      <div class="container">
        <div class="logo">
          <img src="assets/logo3.png" alt="" width="130"/>
          </div>
        <nav>
          <ul>
          <li>Login</li>
          <li>Signup</li>
          </ul>
          </nav>
        </div>
      <div class="background">
        <div class="transbox">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
              <h1 style="font-size: 60px;">EZGARAGE AUTO SERVICE</h1>
              <h2 style="color: rgb(0, 255, 94);">ONE-STOP-SHOP FOR ALL AUTOMOBILE RELATED SERVICES</h2>
              <h5>WE’VE GOT EXPERTS TO TACKLE IT ALL</h5>
          </div>
        </div>
      </div>