
<style>
  *{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
  background-color: black;
  max-width: inherit;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:30px; font-family:raleway;
  color: aliceblue;
}

ul li:hover{
  color:orange;
  font-size: 32px;
  
}

div.background {
  background: url(https://wallpaperaccess.com/full/840362.jpg);
  border: 2px solid black;
}

div.transbox {
  margin-bottom: 500px;
  margin-left: 200px;
  opacity: 1;
  text-align: center;
}

div.transbox h1,h5,h4 {
  margin: 1%;
  font-weight: bold;
  color: #ffffff;
}
</style>
      <div class="container">
        <div class="logo">
          <img src="https://i.ytimg.com/vi/3oUENENU7Fc/mqdefault.jpg" alt="" width="130"/>
          </div>
        <nav>
          <ul>
          <li>Login</li>
          <li>Signup</li>
          </ul>
          </nav>
        </div>
      <div class="background">
        <div class="transbox">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
              <h1 style="font-size: 60px;">EZGARAGE AUTO SERVICE</h1>
              <h4>ONE-STOP-SHOP FOR ALL AUTOMOBILE RELATED SERVICES</h4>
              <h5>WE’VE GOT EXPERTS TO TACKLE IT ALL</h5>
          </div>
        </div>
      </div>