<div class="testbox">
    <form>
      <h4>Vehicle Type<span>*</span></h4>
      <div class="title-block">
        <select>
          <option value="car">Car</option>
          <option value="van">Van</option>
          <option value="mr">Motor Cycle</option>
          <option value="mr">Three Wheeler</option>
          <option value="hv">Heavy Vehicle</option>
        </select>
        <input class="name" type="text" name="name" placeholder="Model" />
        <input class="name" type="text" name="name" placeholder="Reg. No" />
      </div>
      
      <div class="btn-block">
        <button type="submit" href="/">Submit</button>
      </div>
    </form>
  </div>