<div class="testbox">
    <form>
      <h4>Vehicle Type<span>*</span></h4>
      <div class="title-block">
        <select>
          <option value="car">Car</option>
          <option value="van">Van</option>
          <option value="mr">Motor Cycle</option>
          <option value="mr">Three Wheeler</option>
          <option value="hv">Heavy Vehicle</option>
        </select>
        <input class="name mr-3" type="text" name="name" placeholder="Model" />
        <input class="name" type="text" name="name" placeholder="Reg. No" />
      </div>
      <h4>Date<span>*</span></h4>
      <div class="title-block">
        <input type="datetime-local" value="2017-06-01" />
        <select>
          <option value="car">Car</option>
          <option value="van">Van</option>
          <option value="mr">Motor Cycle</option>
          <option value="mr">Three Wheeler</option>
          <option value="hv">Heavy Vehicle</option>
        </select>
      </div>
      <h4>Service Type<span>*</span></h4>
      <div class="title-block">
        <select>
          <option value="full">Full Service</option>
          <option value="oil">Oil Changing</option>
          <option value="wash">Body Wash</option>
          <option value="weel">Wheel balancing</option>
        </select>
      </div>
      <div class="btn-block">
        <button type="submit" href="/">Submit</button>
      </div>
    </form>
  </div>